.box {
        display: flex;
        flex-flow: column;
        height: 100%;
}
.box {
        display: flex;
        flex-flow: column;
        height: 100%;
}
.box .row {
 

}
.box .row.header {
        flex: 0 0 auto;
        background-color: #000000;
}
.box .row.content1 {
        flex: 1 1 200px;
}
.content1sub
{
      background-color: #0c0b0f;
      border-style: solid;
      border-color: coral;
}
.box .row.content2 {
        flex: 1 1 auto;
}
.content2sub
{
      background-image: linear-gradient(180deg, #870000,#190a05);

}
.content3sub
{
      background-color: #000000;
}
.box .row.footer {
        flex: 0 1 100px;
        Background-color: #000000;
}