.box {
        display: flex;
        flex-flow: column;
        height: 100%;
}
.box {
        display: flex;
        flex-flow: column;
        height: 100%;
}
.box .row {
 

}
.box .row.header {
        flex: 0 0 auto;
background-image: linear-gradient(to right,#FFA69Efc,#5D4954cc);
}
.box .row.content1 {
        flex: 1 1 200px;
}
.content1sub
{
      background-color: #0c0b0f;
      border-style: solid;
      border-color: coral;
}
.box .row.content2 {
        flex: 1 1 auto;
}
.content2sub
{
      background-image: linear-gradient(to right, #1E3B70fc,#29539Bfc);

}
.content3sub
{
      background-color: #000000;
}
.box .row.footer {
        flex: 0 1 60px;
        background-image: linear-gradient(to right,#FFA69Efc,#5D4954cc);
}