.transition1{
  transition: all 0.5s;
}
.content2 {
  flex: 1 1 auto;
}
.content2sub1
{
background-image: linear-gradient(to right bottom, #8e0e00f5, #292828ef 45%);
border-top: 1px solid #8e0e00;

}
.content2sub2
{
     background-image: linear-gradient(to right top,#292828ef 55%,#292828ef );
}
.bottomcardtextl {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
  cursor: pointer;
  /* height : 100px; */
  /* float: left; */
  vertical-align: top;
  white-space: nowrap;
}
.bottomCardBasel {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 0px;
  font-family: "Courier New";
  cursor: pointer;
  margin:0px;outline:none;
  vertical-align: top;
  /* float : left */
}
.bottomCardBasec {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 0px;
  font-family: "Courier New";
  cursor: pointer;
  margin:0px;outline:none;
  padding: none;
  vertical-align: top;
  /* aspect-ratio: 1 / 1; */
  /* float : center */
}

.bottomCardBaser {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 0px;
  font-family: "Courier New";
  cursor: pointer;
  margin:0px;outline:none;
  padding: none;
  /* float : right */
}
.bottomCard {
  /* display: inline-block; */
  background-size:cover;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  height : 60%;
  width: 60%;
  position: relative;
  border-radius: 5%;
  background-image: linear-gradient(to right, #70e1f5,#ffd194);
  margin: auto;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.bottomCardInner:hover {
  opacity: 0.7;
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.bottomCardInner {
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
 
}
.bottomCardInnernonvideo1:hover {
  opacity: 0.7;
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.bottomCardInnernonvideo3:hover {
  opacity: 0.7;
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.bottomCardInnernonvideo4:hover {
  opacity: 0.7;
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.bottomCardInnernonvideo5:hover {
  opacity: 0.7;
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.bottomCardInnernonvideo6:hover {
  opacity: 0.7;
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.bottomCardInnernonvideo7:hover {
  opacity: 0.7;
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.bottomCardInnernonvideo8:hover {
  opacity: 0.7;
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.bottomCardInnernonvideo9:hover {
  opacity: 0.7;
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.bottomCardInnernonvideo10:hover {
  opacity: 0.7;
  animation-iteration-count: infinite; 
  animation: shake 0.5s;
}
.bottomCardInnernonvideo1 {
  background-image: url('SI_publication.png');
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
 
}
.bottomCardInnernonvideo3 {
  background-image: url('gantt.jpg');
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
 
}
.bottomCardInnernonvideo4 {
  background-image: url('projectunderway.png');
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
 
}
.bottomCardInnernonvideo5 {
  background-image: url('projectunderway.png');
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
 
}
.bottomCardInnernonvideo6 {
  background-image: url('landloadDrone.jpg');
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
 
}
.bottomCardInnernonvideo7 {
  background-image: url('AR.jpg');
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
}
.bottomCardInnernonvideo8 {
  background-image: url('iot.jpg');
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
}
.bottomCardInnernonvideo9 {
  background-image: url('Markup.jpg');
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
}
.bottomCardInnernonvideo10 {
  background-image: url('Docscanner.jpg');
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
}
.bottomCardInnernonvideo2 {
  display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: #dcdcdc;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  height : 98%;
  width: 98%;
  Top: 1%;
  Left: 1%;
  position: relative;
  border-radius: 5%;
 
}


.leftSideskillButton {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: left;
  font-size: 30px;
  font-family: "Courier New";
  cursor: pointer;
  height : 100px;
  float: left;
  white-space: nowrap;
}
.leftSideskillButton5 {
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: left;
  font-size: 30px;
  font-family: "Courier New";
  cursor: pointer;
  height : 100px;
  float: left;
  white-space: nowrap;
}
.rightSideskillButton5 {
  top: 20px;
  display: inline-block;
  border: none;
  color: #000000;
  text-align: left;
  font-size: 30px;
  font-family: "Courier New";
  cursor: pointer;
  height : 100px;
  float: center;
  white-space: nowrap;
  border-radius: 10px;
  background-image: linear-gradient(#70e1f5,#ffd194);
}


.bottomcardtextr
{
  display: inline-block;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 30px;
  font-family: 'Comic Sans MS', 'Marker Felt', sans-serif;
  cursor: pointer;
  /* height : 100px; */
  /* float: left; */
  vertical-align: top;
  white-space: nowrap;
}
.skilltext {
  
  text-align: left;
  color : #ffffff;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  
}
.skillimagecontainer { 
  background-image: url('SI_lang1.png');
    display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: transparent;
  text-align: center;
  height: 100px;
  position: relative;
  top: 20px;
}
.skillimagecontainer5 { 
    display: inline-block;
  background-size:cover;
  background-repeat: no-repeat;
  background-color: transparent;
  text-align: center;
  float: center;
  height: 100px;
  position: relative;
  top: 20px;
}