.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 18px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-image: linear-gradient(to right,#8e0e00,#1f1c18);
  min-width: 160px;
  bottom: 50px;
  Right : 50px;
  z-index: 1;
  box-shadow: -5px -5px 8px 10px #888888;
}

.dropup-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropup-content a:hover {
color: #cdcdcd
}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: transparent;
  opacity : 0.3;
}