.box {
        display: flex;
        flex-flow: column;
        height: 100%;
}
.box .row {
 

}
.box .row.header {
        flex: 0 0 auto;
background-image: linear-gradient(to right,#8e0e00b3,#1f1c18 60%);
}
.box .row.content1 {
        flex: 1 1 20px;
}
.content1sub
{
      background-color: #0c0b0f;
      border-style: solid;
      border-color: coral;
      
}
.box .row.content2 {
        flex: 1 1 auto;
}
.content2sub
{


}
.content3sub
{
      background-image: linear-gradient(to right,#8e0e00b3,#000000 60%);
}
.box .row.footer {
        flex: 0 1 auto;
        background-image: linear-gradient(to right,#8e0e00,#1f1c18);
        text-align: right;  
}
.footView {
  background-image: linear-gradient(to right,#1f1c18,#000000);
  border: none;
  outline: none;
  color : #ffffff;
  cursor: pointer;
  transition: 0.3s;
  font-size: 18px;
  font-family: 'Arial Black';
  opacity : 1;
  text-align: right; 

}


.footButton {
  background-color: transparent;
  float: right;
  border: none;
  outline: none;
  color : #ffffff;
  cursor: pointer;
  padding: 14px 26px;
  transition: 0.3s;
  font-size: 18px;
  font-family: 'Arial Black';
  opacity : 1;
  margin: 10px 10px; 
  text-align: left;

}

