.socialm {
  Background-color : transparent;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin : 0px 0px;
 padding:0;
 text-align:center;
 display: inline-block;
}
.socialm:hover {
  opacity: 0.7;
}
.socialmfb {
 background-image: url('SI_fb.png');
}
.socialmlinkedin {
 background-image: url('SI_linkedin.png');
}
.socialminst {
 background-image: url('SI_inst.png');
}
.socialmyt {
 background-image: url('SI_yt.png');
}
.socialmeds {
   display: inline-block;
}