.socialm {
  Background-color : transparent;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  margin : 0px 0px;
 padding:0px;
position: relative;
 text-align:center;

}
.socialm:hover {
  opacity: 0.7;
}
.socialmfb {
 background-image: url('SI_fb2.png');
}
.socialmlinkedin {
 background-image: url('SI_linkedin.png');
}
.socialminst {
 background-image: url('SI_inst.png');
}
.socialmyt {
 background-image: url('SI_yt.png');
}
.socialmeds {
   display: inline-block;
}
.work {
  Background-color : transparent;
  opacity: 1;
  display: inline-block;
  margin : 0px 0px;
 padding : 0px;

}
.workwebsite {
  Background-color : transparent;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin : 0px 0px;
 padding:0px;
position: relative;
}

.workwebsite1 {
  Background-color : transparent;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin : 0px 0px;
 padding:0px;
position: relative;
}
.workwebsite2 {
  Background-color : transparent;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin : 0px 0px;
 padding:0px;
position: relative;
}
.workwebsite3 {
  Background-color : transparent;
  opacity: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin : 0px 0px;
 padding:0px;
}
.websitetext{
 text-align: center;
}
.websitetext3sub{

 Background-color : transparent;
}
.websitetext4sub{
text-align: center;
margin: auto;
vertical-align: middle;
 Background-color : transparent;
}
.worklocation {
  background-image: url('SI_loc.png');
}
.worksite {
  background-image: url('SI_domain.png');
}
