.fa {  
  padding: 18px;  
  text-align: center;  
  margin: 55px 10px;  
  border-radius: 5px;
  width: 20px;
  hidth: 20px;
}   
.fa-instagram {  
  background: #125688;  
  color: white;  
}  
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.socialButton
{
}
.fa:hover {
    opacity: 0.7;
}