.simagecards {
object-fit: contain;
height: 85%;
Weight: 85%;
text-align: center;
position: relative;
top: 15px;
border-radius: 10px;

}
.simagecards2 {
object-fit: contain;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  height : 160px;
  width: 360px;
  Top: 20px;
  position: relative;
  border-radius: 10px;
 
}
