.tab button {
  background-color: #000000;
  float: left;
  border: none;
  outline: none;
  color : #ffffff;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.tab button2 {
  background-color: #000000;
  float: left;
  font-size: 20px;
  border: none;
  outline: none;
  color : #ffffff;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}
.tab button:hover {
  color: #cccccc;
}
.tab button.active {
  color: #ffcc00;
}
.tabcontent {
  display: none;
  border: none;
  padding: 120px 0px;
  height:450px;
}
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}
.topright:hover {color: red;}
/* top TAB */